# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

debian/4d-picadillo-35t.debhelper.log
debian/4d-picadillo-35t.substvars
debian/4d-picadillo-35t/
debian/boxtec-helvepic32.debhelper.log
debian/boxtec-helvepic32.substvars
debian/boxtec-helvepic32/
debian/chipkit-cmod.debhelper.log
debian/chipkit-cmod.substvars
debian/chipkit-cmod/
debian/chipkit-dp32.debhelper.log
debian/chipkit-dp32.substvars
debian/chipkit-dp32/
debian/chipkit-max32.debhelper.log
debian/chipkit-max32.substvars
debian/chipkit-max32/
debian/chipkit-mx3.debhelper.log
debian/chipkit-mx3.substvars
debian/chipkit-mx3/
debian/chipkit-pi.debhelper.log
debian/chipkit-pi.substvars
debian/chipkit-pi/
debian/chipkit-pro-mx4.debhelper.log
debian/chipkit-pro-mx4.substvars
debian/chipkit-pro-mx4/
debian/chipkit-pro-mx7.debhelper.log
debian/chipkit-pro-mx7.substvars
debian/chipkit-pro-mx7/
debian/chipkit-uc32.debhelper.log
debian/chipkit-uc32.substvars
debian/chipkit-uc32/
debian/chipkit-uno32.debhelper.log
debian/chipkit-uno32.substvars
debian/chipkit-uno32/
debian/chipkit-wf32.debhelper.log
debian/chipkit-wf32.substvars
debian/chipkit-wf32/
debian/chipkit-wifire.debhelper.log
debian/chipkit-wifire.substvars
debian/chipkit-wifire/
debian/chipkit.debhelper.log
debian/chipkit.substvars
debian/chipkit/
debian/ermetris-magneto.debhelper.log
debian/ermetris-magneto.substvars
debian/ermetris-magneto/
debian/files
debian/fubarino-mini.debhelper.log
debian/fubarino-mini.substvars
debian/fubarino-mini/
debian/fubarino-sd.debhelper.log
debian/fubarino-sd.substvars
debian/fubarino-sd/
debian/libarduinotestsuite-chipkit.debhelper.log
debian/libarduinotestsuite-chipkit.substvars
debian/libarduinotestsuite-chipkit/
debian/libdeipck-chipkit.debhelper.log
debian/libdeipck-chipkit.substvars
debian/libdeipck-chipkit/
debian/libdewfck-chipkit.debhelper.log
debian/libdewfck-chipkit.substvars
debian/libdewfck-chipkit/
debian/libdspi-chipkit.debhelper.log
debian/libdspi-chipkit.substvars
debian/libdspi-chipkit/
debian/libeeprom-chipkit.debhelper.log
debian/libeeprom-chipkit.substvars
debian/libeeprom-chipkit/
debian/libethernet-chipkit.debhelper.log
debian/libethernet-chipkit.substvars
debian/libethernet-chipkit/
debian/libfirmata-chipkit.debhelper.log
debian/libfirmata-chipkit.substvars
debian/libfirmata-chipkit/
debian/libhttpserver-chipkit.debhelper.log
debian/libhttpserver-chipkit.substvars
debian/libhttpserver-chipkit/
debian/libim8720phy-chipkit.debhelper.log
debian/libim8720phy-chipkit.substvars
debian/libim8720phy-chipkit/
debian/libliquidcrystal-chipkit.debhelper.log
debian/libliquidcrystal-chipkit.substvars
debian/libliquidcrystal-chipkit/
debian/libmrf24g-chipkit.debhelper.log
debian/libmrf24g-chipkit.substvars
debian/libmrf24g-chipkit/
debian/libonewire-chipkit.debhelper.log
debian/libonewire-chipkit.substvars
debian/libonewire-chipkit/
debian/libsd-chipkit.debhelper.log
debian/libsd-chipkit.substvars
debian/libsd-chipkit/
debian/libservo-chipkit.debhelper.log
debian/libservo-chipkit.substvars
debian/libservo-chipkit/
debian/libsoftpwmservo-chipkit.debhelper.log
debian/libsoftpwmservo-chipkit.substvars
debian/libsoftpwmservo-chipkit/
debian/libsoftspi-chipkit.debhelper.log
debian/libsoftspi-chipkit.substvars
debian/libsoftspi-chipkit/
debian/libsoftwareserial-chipkit.debhelper.log
debian/libsoftwareserial-chipkit.substvars
debian/libsoftwareserial-chipkit/
debian/libspi-chipkit.debhelper.log
debian/libspi-chipkit.substvars
debian/libspi-chipkit/
debian/libstepper-chipkit.debhelper.log
debian/libstepper-chipkit.substvars
debian/libstepper-chipkit/
debian/libwire-chipkit.debhelper.log
debian/libwire-chipkit.substvars
debian/libwire-chipkit/
debian/mchp-explorer16.debhelper.log
debian/mchp-explorer16.substvars
debian/mchp-explorer16/
debian/mchp-starter-eth.debhelper.log
debian/mchp-starter-eth.substvars
debian/mchp-starter-eth/
debian/mchp-starter-usb.debhelper.log
debian/mchp-starter-usb.substvars
debian/mchp-starter-usb/
debian/mchp-starter.debhelper.log
debian/mchp-starter.substvars
debian/mchp-starter/
debian/mikroe-mikromedia.debhelper.log
debian/mikroe-mikromedia.substvars
debian/mikroe-mikromedia/
debian/mikroe-multimedia.debhelper.log
debian/mikroe-multimedia.substvars
debian/mikroe-multimedia/
debian/olimex-pinguino32-obl.debhelper.log
debian/olimex-pinguino32-obl.substvars
debian/olimex-pinguino32-obl/
debian/olimex-pinguino32.debhelper.log
debian/olimex-pinguino32.substvars
debian/olimex-pinguino32/
debian/overtone-cui32.debhelper.log
debian/overtone-cui32.substvars
debian/overtone-cui32/
debian/overtone-cui32stem.debhelper.log
debian/overtone-cui32stem.substvars
debian/overtone-cui32stem/
debian/pontech-quick240.debhelper.log
debian/pontech-quick240.substvars
debian/pontech-quick240/
debian/pontech-uav100.debhelper.log
debian/pontech-uav100.substvars
debian/pontech-uav100/
debian/schmalzhaus-ubw32-460.debhelper.log
debian/schmalzhaus-ubw32-460.substvars
debian/schmalzhaus-ubw32-460/
debian/schmalzhaus-ubw32-795.debhelper.log
debian/schmalzhaus-ubw32-795.substvars
debian/schmalzhaus-ubw32-795/

*~
*.lock
*.DS_Store
*.swp
*.out
*.class
*.svn

#specifc files
.DS_Store
dist
tmp
